:root{ /* as normal*/
    --bg-color: #b8eca1;

    --header-bg-color: rgb(252, 235, 205);
    --section-bg-color: rgb(248, 227, 182);
    --section-border-color: rgb(197, 151, 90);
    --border-color: rgb(197, 151, 90);
    --day-color: rgb(197, 151, 90);

    --head-color: rgb(252, 236, 220);
    --container-bg-color: rgb(255, 242, 215); 
    --container-text-color: black;

    --head-bg-color: rgb(252, 236, 220);
    --head-color: rgb(190, 134, 65);

    --line-color: rgb(7, 114, 21, 0.349);

    --small-head-color: rgb(150, 94, 48);
    --small-head-bg-color: rgba(206, 132, 20, 0.123);

    
}



/*button ??*/
#theme-dark{
    background-color: black;
    border: 2px solid green;
}


/*themes*/
[data-theme="dark"]{
    --bg-color: rgb(26, 17, 17);
    --header-bg-color: rgb(122, 121, 118);
    --day-color: rgb(180, 176, 171);

    --section-bg-color: rgb(85, 79, 74);
    --section-border-color: rgb(180, 176, 171);


    --head-bg-color: rgb(161, 151, 142);
    --head-color: rgb(87, 84, 84);
    --container-bg-color: rgb(150, 142, 129);
    --container-text-color: black;
    --border-color: rgb(65, 60, 54);

    --line-color: rgba(25, 75, 23, 0.349);

    --small-head-color: rgb(39, 36, 34);
    --small-head-bg-color: rgba(22, 58, 63, 0.075);
}

[data-theme="blue"]{
    --bg-color: rgb(41, 115, 178);
    --header-bg-color: rgb(242, 239, 231);
    --day-color: rgb(41, 115, 178);

    --section-bg-color: rgb(72, 166, 167);
    --section-border-color:rgb(242, 239, 231);

    --container-bg-color: rgb(154, 203, 208);
    --border-color: rgb(41, 115, 178);
    --head-bg-color: rgb(242, 239, 231);
    --head-color: rgb(41, 115, 178);

    --small-head-color: rgb(68, 87, 110);
    --small-head-bg-color: rgba(59, 104, 201, 0.123);
  }
  

  /* this is...?*/
.plates{
    background-color: var(--container-bg-color);
}


/*Button for theme change*/
.themeOption{

  width: 60px;
  cursor: pointer;
  background-color: rgb(212, 176, 146);
  position: absolute;
  top: 0px;
  right: 0%;
  
}
